<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nexters.wiw.strolling_of_time">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".StrollingOfTimeApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity android:name=".views.user.NoLoginActivity" />
        <activity android:name=".views.user.LoginActivity"/>
        <activity android:name=".views.main.MainActivity"/>
        <activity android:name=".views.user.SignUpActivity">

        </activity>

        <activity android:name=".views.group.GroupMainActivity" android:parentActivityName=".views.main.MainActivity" />
        <activity android:name=".views.group.GroupGenerateActivity" android:parentActivityName=".views.main.MainActivity"/>
        <activity android:name=".views.group.MakeMissionActivity" android:parentActivityName=".views.group.GroupMainActivity" />
        <activity android:name=".views.timer.CerealTimer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProgressDialog"/>



        <!--<activity android:name=".views.LauncherActivity"-->
            <!--android:launchMode="singleTop">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".views.main.MainActivity"-->
            <!--android:windowSoftInputMode="adjustPan"/>-->

    </application>


</manifest>